/* style.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {

}

#recipe h2{
  font-size: 30px;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

#recipe ol {
  padding-left: 1rem;
}

#recipe ol li {
  list-style-type: decimal;
}

#recipe a {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-color: #dc2626;
}

#recipe a:hover {
  color: #dc2626;
}