<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Cookbook</title>
    <link href="{{ '/style.css' | url }}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">
</head>
<body class="p-4 text-xl flex bg-pink-50 flex-col min-h-screen" style="">
  <header class="px-4">
    <nav>
      <div class="">
        <a href="/" class="text-xl font-bold">Recipe book</a>
      </div>
    </nav>
  </header> 



