{% include 'partials/_header.html' %}

<div id="recipe" class=" md:mx-2 md:my-4 p-6 md:p-10 rounded-sm" style="">

    <h1 class="text-4xl font-medium">{{ title }}</h1>

    <div class="pt-6 md:pl-8">
    {{ content | safe }}
    </div>

</div>

{% include 'partials/_footer.html' %}
